<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <title>{% block title %}{% endblock %}</title>


    <!--<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">-->
    <!--<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-theme.css">-->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/table-sorter.css">
    <!--<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/simple-sidebar.css">-->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/pages/base.css">

    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}js/utils.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.tablesorter.pager.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/Class.js"></script>
    <script src="{{ STATIC_URL }}js/autocomplete.js"></script>
    <script src="{{ STATIC_URL }}js/Chart.min.js"></script>
    <script src="{{ STATIC_URL }}js/FileSaver.js"></script>
    <script src="{{ STATIC_URL }}js/highstock.js"></script>
    <script src="{{ STATIC_URL }}js/exporting.js"></script>
    <script src="{{ STATIC_URL }}js/dataTables.js"></script>
    <script src="{{ STATIC_URL }}js/tinymce.min.js"></script>
    <script src="{{ STATIC_URL }}js/theme.min.js"></script>
    <script src="{{ STATIC_URL }}js/dataTables.bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-select.min.js"></script>
    <script src="{{ STATIC_URL }}js/plotly-latest.min.js"></script>

    <style type="text/css">

        .header-font {
            color: #959595;
        }
    </style>

    {% block includes %}

    {% endblock %}

    <!--<style>
        body {
            background-color: black;

        }

        .blue-header {
            background-color: rgb(66, 139, 202);
            border-radius: 5px;
            color: #fff;
            padding: 1px;
        }

        .grey-header {
            background-color: #e7e7e7;
            border-radius: 5px;
            padding: 1px;
            color: #808080;
        }

        .wait {
            display: block;
            position: fixed;
            z-index: 1000;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(255, 255, 255, .8) url('{{ STATIC_URL }}css/imgs/wait.gif') 50% 50% no-repeat;
        }

        .inner_wait {
            display: block;
            z-index: 1000;
            top: 0;
            left: 0;
            background: rgba(255, 255, 255, .8) url('{{ STATIC_URL }}css/imgs/wait.gif') 50% 50% no-repeat;
        }

        .loading {
            overflow: hidden;
        }

        loading .modal {
            display: block;
        }

        .background_white {
            display: block;
            position: fixed;
            z-index: 1000;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(255, 255, 255, .8)
        }

        .dashboard_panel {
            position: relative;
            width: 100%;
            margin-bottom: 10px;
            padding: 10px 17px;
            display: inline-block;
            background: #fff;
            border: 1px solid #E6E9ED;
            opacity: 1;
            transition: all .2s ease;
            color: #73879C;
            font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
        }

        .dashboard_title {
            border-bottom: 2px solid #E6E9ED;
            padding: 1px 5px 6px;
            margin-bottom: 10px;
        }

        .clearfix:after, form:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
    </style>-->

    <!--<style>
        .navbar-nav {

            margin-left: 2vw;
            height: 6vh;
        }

        .navbar-inverse .navbar-nav > .active > a {
            background-image: linear-gradient(to bottom, #222 0%, #282828 100%);
        }

        /*.navbar-inverse .navbar-nav > a:hover {*/
        /*background-color: green;*/
        /*}*/

        /*.navbar-inverse .navbar-nav>li>a:focus{*/
        /*background-color: green;*/
        /*}*/
        .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
            background-color: green;
        }

        .navbar-inverse .navbar-nav > li {
            color: #FCB913;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: #FCB913;
            font-weight: bolder;
            height: 100%;
            padding-top: 2.0vh;
        }

        li {
            height: 100%;
        }


    </style>-->


</head>


<body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" id="base-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand"><img src="{{ STATIC_URL }}img/wells_logo.png"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav bar-links">
            <li><a href="/">Wizard</a></li>
            <li><a href="/datacheck">Data Check</a></li>
            <li><a href="/buildmetadata">Metadata Builder</a></li>
            <li><a href="/results">Results</a></li>
            <!--<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">VIPER <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>-->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <!--<li><a href="../navbar/">Default</a></li>-->
            <li><span class="navbar-text">Hello, {{ user.username }}</span></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


<!--<div id="wait"></div>
<nav class="navbar navbar-inverse" role="navigation" style="border-radius:0px;">
    <div id="top_div"></div>
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/"><img src="{{ STATIC_URL }}img/wells_logo.png" style="margin: 0.50vh 0vh 0.50vh 0vh; height: 5vh; border-radius: 0.5vh;"/></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

                <script>

                    function getTemplateOutputs(definition) {
                        var result = [];

                        if (definition.wellsfargo) {
                            var actions = definition.wellsfargo;
                            for (var i = 0; i < actions.length; i++) {
                                var action = actions[i];
                                var name = "";
                                var fields = [];

                                if (action.definition && action.definition.output && action.definition.output.name) {
                                    name = action.definition.output.name;
                                }

                                if (action.definition.criteria && action.definition.criteria.select) {
                                    fields = action.definition.criteria.select;
                                }

                                if (name && name.length && fields && fields.length) {
                                    result.push({"name": name, "fields": fields});
                                }
                            }
                        }

                        return result;
                    }

                    template_outputs = {};
                    {% for template in templates %}
                        {% if template.definition %}
                            var definition = {{template.definition|safe}};
                            template_outputs['{{ template.id }}'] = {"outputs": getTemplateOutputs(definition)};
                        {% endif %}
                    {% endfor %}

                    function setActiveTab() {
                        var tab_name = window.location.pathname.substring(1);

                        if (!tab_name.length) {
                            tab_name = "previews";
                        }

                        if (tab_name.indexOf("/") != -1) {
                            tab_name = tab_name.split("/")[0];
                        }

                        var active_tab_id = tab_name + "_tab";
                        try {
                            $("#" + active_tab_id).addClass("active");
                        } catch (e) {

                        }

                        return tab_name;
                    }


                    $(document).ready(function () {
                        currentTab = setActiveTab();
                    });

                    function leavePage(link) {
                        try {
                            ask = askBeforeLeaving(); // function implemented at crossdata.html
                        } catch (e) {
                            ask = false;
                        }

                        if (ask) {
                            $("#clicked_link").val(link);
                            $("#leaving_crossdata").show();
                        } else {
                            showWait();
                            window.location = link;
                        }
                    }

                    function doLeavePage() {
                        showWait();
                        window.location = $("#clicked_link").val();
                    }

                    function cancelLeavePage() {
                        $("#leaving_crossdata").hide();
                    }

                    function getBootstrapPanel(header, content, cls) {
                        var result = "";

                        if (!cls) {
                            cls = "panel-default";
                        }

                        result += '<div class="panel ' + cls;
                        result += '"><div class="panel-heading">' + header + '</div>';
                        result += '<div class="panel-body">';
                        result += '<div>' + content + "</div></div></div>";

                        return result;
                    }

                    function removeById(elementId) {
                        $('#' + elementId).remove();
                    }
                </script>

                <li id="previews_tab">
                    <a onclick="leavePage('/results');" style="cursor:pointer;"> Data</a>
                </li>

                <li id="dashboard_tab">
                    <a onclick="leavePage('/dashboard');" style="cursor:pointer;"> Dashboard</a>
                </li>

                <li id="templates_tab">
                    <a onclick="leavePage('/templates');" style="cursor:pointer;"> Templates</a>
                </li>

                <li id="crossdata_tab">
                    <a onclick="leavePage('/crossdata');" style="cursor:pointer;"> Operations</a>
                </li>

                <li id="plans_tab">
                    <a onclick="leavePage('/plans');" style="cursor:pointer;"> Status</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a style="cursor: auto"> {% if user.is_authenticated %}Hello, {{ user.username }} {% endif %}</a>
                </li>
                <li><a href="/logout"> LOGOUT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>-->

<!--Begin Sidebar-->
<!--<div id="sidebar-wrapper"
     style="width:200px; left:200px; margin-left:-200px; position:absolute; height:200%; margin-top:-20px;">
    <ul class="sidebar-nav" id="tabsLinks">
        <li class="sidebar-brand">
            <a href="/">Wizard</a>
        </li>
        <li class="sidebar-brand">
            <a href="#plots_tab" data-toggle="tab" onclick="activeTab(this);"><span
                    style="color: #fff;">Server Status</span></a>
        </li>
        <li>
            <a href="#airflow_status_tab" data-toggle="tab" onclick="activeTab(this);">Airflow</a>
        </li>
        <li class="sidebar-brand">
            <a data-toggle="tab"><span style="color: #fff;">Data View</span></a>
        </li>
        <li>
            <a href="/results">Results</a>
        </li>
    </ul>
</div>-->
<!--end Sidebar-->
<div class="background_white" style="display:none;" id="leaving_crossdata">
    <div class="alert alert-danger" style="width:25%; position:fixed; left:35%; top:25%; margin:20px;">
        <div>
            <strong>Leaving the page</strong><br/>
            Leaving this page will cause you to lose your current <strong>Plan Progress</strong>
            <br/>
            <br/>
            <input type="hidden" id="clicked_link"/>
            <button type='button' class='btn btn-danger' onclick="doLeavePage()">Leave</button>
            <button type='button' class='btn btn-default' onclick="cancelLeavePage()">Cancel</button>
        </div>
    </div>
</div>

<div class="alert alert-danger" style="width:25%; display:None; position:fixed; left:35%; top:3%; z-index:10000;"
     id="alert_box" onclick="hideAlert()">
    <div id="alert_box_text"></div>
</div>

<div class="alert alert-success" style="width:25%; display:None; position:fixed; left:35%; top:3%; z-index:10000;"
     id="success_box" onclick="hideSuccess()">
    <div id="success_box_text"></div>
</div>
<div class="content-container">
{% block header %}  {% endblock %}

{% block content %} {% endblock %}

{% block footer %} {% endblock %}
</div>

</body>


<div id="preview_modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="preview_modal_title"></h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-info" role="alert">
                    <pre id="preview_modal_content"></pre>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="new_result_table_modal" class="modal fade">
    <style>
        .modal-dialog-table {
            position: relative;
            display: table;
            overflow-y: auto;
            overflow-x: auto;
            width: auto;
            min-width: 600px;
        }
    </style>
    <div class="modal-dialog modal-dialog-table">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Result table</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="result_table_content_id"/>
                <label style="padding:5px">Database</label>
                <br/>
                <select id="selected_database_results_table" class="selectpicker form-control" data-live-search="true"
                        data-width="180px"
                        onchange="base_getSchemasFor('selected_database_results_table', 'selected_schema_results_table');">
                    <option value="">-- Select a Database--</option>
                    {% for db in all_databases %}
                        {% if db != "salespractice" %}
                            <option>{{ db }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <br/>
                <input type="hidden" id="limit_results_table" value="2500"/>
                <label for="selected_schema_results_table" id="selected_schema_results_table_label">Table</label>
                <br/>
                <select id="selected_schema_results_table" class="form-control selectpicker" data-live-search="true"
                        data-width="180px" onchange="loadSchemaResultsTable();"></select>
                <br/>
                <label for="fields_results_table" class="to_be_hidden_results_fields">Fields</label>
                <br/>
                <select id="fields_results_table" class="selectpicker form-control to_be_hidden_results_fields"
                        data-width="180px" data-live-search="true" size="5" multiple>
                </select>

                <div id="previewTable"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="previewTable();" id="tablePreviewButton">
                    Preview
                </button>
                <button type="button" class="btn btn-primary" onclick="saveResultTable();" id="tableSaveButton">Save
                </button>
                <button type="button" class="btn btn-warning" onclick="downloadResultTable();" id="downloadResultTable">
                    Download
                </button>
                <button type="button" class="btn btn-danger" id="abortResultTable" onclick="abortResultTable()">Stop
                </button>
                <button type="button" class="btn btn-default" id="cancelResultTable" data-dismiss="modal">Cancel
                </button>
            </div>

            <script>

                function abortResultTable() {
                    var url = "/cancel_last_user_orphan";
                    $.ajax({
                        type: "GET",
                        url: url,
                        success: function (result) {
                            $("#previewTable").html("");
                        },
                        error: function (e) {
                        }
                    });
                }

                function saveResultTable() {
                    var contentId = $("#result_table_content_id").val();
                    var fieldsSelector = $("#fields_results_table").val();
                    var database = $("#selected_database_results_table").val();

                    if (fieldsSelector.length) {
                        var textHTML = '<table class="tablesorter">';
                        var head = '<thead><tr>';
                        var body = "<tr>";

                        for (var i = 0; i < fieldsSelector.length; i++) {
                            head += "<th>" + fieldsSelector[i] + "</th>";
                            body += "<td>...</td>";
                        }

                        head += "</tr></thead>";
                        body += "</tr></table>";

                        textHTML += head;
                        textHTML += body;

                        var selectedTemplate = $("#new_dashboard_template").val();
                        var selectedSchema = $("#selected_schema_results_table").val();
                        var schema = parseInt(selectedSchema);

                        if (selectedTemplate && selectedTemplate != "-1") {
                            var outputsLength = template_outputs[selectedTemplate].outputs.length;
                        } else {
                            outputsLength = 0;
                        }

                        if (schema >= outputsLength) {
                            var input = existing_schemas[schema - outputsLength];
                        } else {
                            var input = template_outputs[selectedTemplate].outputs[schema].name;
                        }

                        sectionsInformation[contentId] = {
                            "data": {
                                "input": input,
                                "fields": fieldsSelector,
                                "database": database
                            }, "sectionType": "table"
                        };

                        $("#" + contentId).html(textHTML);
                    }

                    $("#new_result_table_modal").modal('hide');
                }

                function showResultTableModal(sectionId, database, table, fields, limit) {
                    $("#selected_database_results_table").each(function () {
                        this.selectedIndex = 0
                    });
                    $("#selected_database_results_table").selectpicker('refresh');
                    var selectedSchema = $("#selected_schema_results_table");
                    selectedSchema.empty();
                    selectedSchema.selectpicker('refresh');
                    $("#downloadResultTable").hide();
                    $("#abortResultTable").hide();
                    if (sectionId == -1) {
                        $("#tableSaveButton").hide();
                    } else {
                        $("#tableSaveButton").show();
                    }

                    $("#result_table_content_id").val(sectionId);
                    $("#previewTable").html("");
                    $(".to_be_hidden_results_tables").hide();
                    $(".to_be_hidden_results_fields").hide();
                    $("#new_result_table_modal").modal('show');

                    var selectedTemplate = $("#new_dashboard_template").val();
                    var outputs = [];

                    if (selectedTemplate && selectedTemplate != "-1") {
                        var outputs = template_outputs[selectedTemplate].outputs;
                        selectedSchema.append("<option value='-1'>-- Select the output --</option>");

                        for (var i = 0; i < outputs.length; i++) {
                            var name = outputs[i].toLowerCase();
                            if (name == table.toLowerCase()) {
                                selectedSchema.append("<option value='" + i + "' selected>" + name + "</option>");
                            } else {
                                selectedSchema.append("<option value='" + i + "'>" + name + "</option>");
                            }
                        }

                        selectedSchema.selectpicker('refresh');
                    }

                    if (database) {
                        $(".to_be_hidden_results_tables").show();
                        $("#selected_database_results_table").val(database);
                        $("#selected_database_results_table").selectpicker("refresh");
                        base_getSchemasFor('selected_database_results_table', 'selected_schema_results_table', table, function () {
                            loadSchemaResultsTable(table, fields, limit);
                        });
                    } else {
                        $("#new_result_table_modal").modal('show');
                        loadSchemaResultsTable(table, fields, limit);
                    }

                }

                function loadSchemaResultsTable(table, selectedFields, limit) {
                    var schema = $("#selected_schema_results_table").val();
                    var selectedTemplate = $("#new_dashboard_template").val();
                    var fieldsSelector = $("#fields_results_table").selectpicker();

                    if (limit) {
                        $("#limit_results_table").val(limit);
                    } else {
                        $("#limit_results_table").val(2500);
                    }

                    var selectedSchema = parseInt(schema);
                    var selectedFieldsArray = [];
                    var runPreview = false;

                    if (selectedFields) {
                        selectedFieldsArray = selectedFields.split(",");
                    }

                    if (selectedTemplate && selectedTemplate != "-1") {
                        var outputLength = template_outputs[selectedTemplate].outputs.length;
                    } else {
                        var outputLength = 0;
                    }

                    $("#tablePreviewButton").hide();
                    if (schema == -1) {
                        $(".to_be_hidden_results_fields").hide();
                        return;
                    }

                    fieldsSelector.empty();
                    if (selectedSchema >= outputLength) {
                        var fields = existing_schemas_content[selectedSchema - outputLength];
                        $("#tablePreviewButton").show();
                    } else if (selectedTemplate) {
                        var output = template_outputs[selectedTemplate].outputs[selectedSchema];
                        var fields = [];
                        for (var k = 0; k < output.fields.length; k++) {
                            fields.push({"name": output.fields[k]});
                        }
                    }

                    if (fields) {
                        $("#fields_results_table").selectpicker('refresh');
                        $(".to_be_hidden_results_fields").show();
                        for (var i = 0; i < fields.length; i++) {
                            var field = fields[i];
                            if ($.inArray(field.name, selectedFieldsArray) != -1) {
                                var option = "<option selected>" + field.name + "</option>";
                                runPreview = true;
                            } else {
                                var option = "<option>" + field.name + "</option>";
                            }

                            fieldsSelector.append(option);
                        }
                    }
                    fieldsSelector.selectpicker('refresh');

                    if (runPreview) {
                        previewTable();
                    }

                }

                function downloadResultTable() {

                    if (window.Blob) {
                        var blob = new Blob([resultsToBeDownloaded], {type: 'text/csv;charset=utf-8;'});

                        if (navigator.msSaveBlob) {
                            navigator.msSaveBlob(blob, "results.csv");
                        } else {
                            var link = document.createElement("a");
                            if (link.download !== undefined) { // feature detection
                                // Browsers that support HTML5 download attribute
                                var url = URL.createObjectURL(blob);
                                link.setAttribute("href", url);
                                link.setAttribute("download", "results.csv");
                                link.style.visibility = 'hidden';
                                document.body.appendChild(link);
                                link.click();
                                document.body.removeChild(link);
                            }
                        }
                    } else {
                        var URI = 'data:text/csv;charset=utf-8,';
                        var fileName = "results.csv";
                        var testlink = window.open("about:blank", "_blank");
                        testlink.document.write(resultsToBeDownloaded); //fileData has contents for the file
                        testlink.document.close();
                        testlink.document.execCommand('SaveAs', false, fileName);
                        testlink.close();
                    }
                }

                resultsToBeDownloaded = "";
                previewTableId = 0;
                function previewTable() {
                    $("#previewTable").html("<div class='inner_wait'><br/><br/><br/></div>");
                    var schema = $("#selected_schema_results_table").val();
                    var selectedTemplate = $("#new_dashboard_template").val();
                    var fieldsSelector = $("#fields_results_table").selectpicker();
                    var fields = fieldsSelector.val();
                    var selectedSchema = parseInt(schema);
                    var database = $("#selected_database_results_table").val();
                    var limit = $("#limit_results_table").val();

                    if (selectedTemplate && selectedTemplate != "-1") {
                        var outputLength = template_outputs[selectedTemplate].outputs.length;
                    } else {
                        outputLength = 0;
                    }

                    var input = existing_schemas[selectedSchema - outputLength];
                    previewTableId++;
                    var url = "/data/" + input + "?database=" + database + "&limit=" + limit;

                    if (fields && fields.length) {
                        url += "&select=" + fields.join();
                    }

                    $("#cancelResultTable").hide();
                    $("#abortResultTable").show();
                    $.ajax({
                        type: "GET",
                        url: url,
                        success: function (schema) {
                            $("#abortResultTable").hide();
                            $("#cancelResultTable").show();
                            // currentTableId
                            var generatedTableId = "preview_" + previewTableId + "_table";
                            var table = "<br/><table class='table table-sm table-striped table-bordered display' id='" + generatedTableId + "'><thead><tr>";
                            resultsToBeDownloaded = "";
                            var headers = [];

                            if (!fields || !fields.length) {
                                fields = [];
                                var schemaFields = schema.content.schema;
                                for (var i = 0; i < schemaFields.length; i++) {
                                    fields.push(schemaFields[i].name);
                                }
                            }

                            for (var i = 0; i < fields.length; i++) {
                                var field = fields[i];
                                table += "<th style='cursor:pointer;'>" + field + "</th>";
                                headers.push(field);
                            }
                            resultsToBeDownloaded += headers.join(",") + "\n";
                            table += "</tr></thead>";

                            var data = schema["content"]["data"];
                            var rowData = "";

                            for (var i = 0; i < data.length; i++) {
                                rowDataArray = [];
                                rowData += "<tr>";
                                for (var j in fields) {
                                    var val = data[i][fields[j]];
                                    if (!val) {
                                        val = "";
                                    }
                                    rowData += "<td>" + val + "</td>";
                                    rowDataArray.push(val);
                                }
                                rowData += "</tr>";
                                resultsToBeDownloaded += rowDataArray.join(",") + "\n";
                            }


                            table += rowData + "</table>";

                            $("#previewTable").html(table);
                            $("#" + generatedTableId).DataTable();
                            $("#downloadResultTable").show();
                        },
                        error: function (e) {
                            $("#abortResultTable").hide();
                            $("#cancelResultTable").show();
                        }
                    });

                }
            </script>
        </div>
    </div>
</div>


<div id="new_plot_modal" class="modal fade">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Plotting</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="alert alert-danger" style="position:relative; top:15px; display:None;"
                         id="alert_box_modal_plot">
                        <div id="alert_text_modal_plot"></div>
                    </div>

                    <label for="new_plot_title">Title</label>
                    <input type="text" class="form-control" id="new_plot_title" placeholder="Title">

                    <label for="new_plot_subtitle">Subtitle</label>
                    <input type="text" class="form-control" id="new_plot_subtitle" placeholder="Subtitle">
                    <input type="hidden" id="new_plot_content_id"/>

                    <label>Database</label>
                    <select id="selected_database_plot" class="selectpicker form-control" data-live-search="true"
                            style="width:180px"
                            onchange="base_getSchemasFor('selected_database_plot', 'selected_schema_plot');">
                        <option value="">-- Select a Database--</option>
                        {% for db in all_databases %}
                            {% if db != "salespractice" %}
                                <option>{{ db }}
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="selected_schema_plot">Plot Input Table</label>
                    <select id="selected_schema_plot" class="selectpicker form-control" data-live-search="true"
                            style="width:180px" onchange="base_loadSchema();"></select>

                    <span class="to_be_hidden">
          
          <label for="plotType">Type</label>
          <select class="form-control" id="new_plot_type">
            <option selected>Histogram</option>
            <option>Pie</option>  
            <option>Semi-circle</option>
            <option>Line</option>
            <option>Area</option>
          </select>   
        
        
          <label for="xAxis" class="to_be_hidden">X Axis Field</label>
          <select class="form-control to_be_hidden selectpicker" data-live-search="true" id="x_axis_field">
          </select>         
          
          <label for="data" class="to_be_hidden">Y Axis Field</label>
          <select class="form-control to_be_hidden selectpicker" data-live-search="true" id="y_axis_field">
          </select>
          
          <label for="plot_series" class="to_be_hidden">Series</label>
          <select class="form-control to_be_hidden selectpicker" data-live-search="true" id="plot_series">
          </select>
          </span>
                    <br/>
                    <div id="plot_preview">
                    </div>
                    <br/>
                    <strong>Note: </strong>Avoid running visualization on data in reference unless in cache
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="previewPlot();" id="plotPreviewButton">Preview
                </button>
                <button type="button" class="btn btn-primary" onclick="savePlot();" id="plotSaveButton">Save</button>
                <button type="button" class="btn btn-default" id="cancelPlotModalButton" data-dismiss="modal">Cancel
                </button>
            </div>

            <script>

                function base_loadSchema(xAxis, yAxis, series) {
                    var database = $("#selected_database_plot").val();
                    var schema = $("#selected_schema_plot").val();
                    var selectedTemplate = $("#new_dashboard_template").val();
                    var selectedSchema = parseInt(schema);

                    if (selectedTemplate && selectedTemplate != "-1") {
                        var outputLength = template_outputs[selectedTemplate].outputs.length;
                    } else {
                        var outputLength = 0;
                    }

                    $("#plotPreviewButton").hide();
                    if (schema == -1) {
                        $(".to_be_hidden").hide();
                        return;
                    }

                    var x_axis_selector = $("#x_axis_field");
                    var y_axis_selector = $("#y_axis_field");
                    var plot_series = $("#plot_series");
                    x_axis_selector.empty();
                    y_axis_selector.empty();
                    plot_series.empty();
                    plot_series.append("<option value=''>--Select the plot serie--</option>")

                    if (selectedSchema >= outputLength) {
                        var fields = existing_schemas_content[selectedSchema - outputLength];
                        $("#plotPreviewButton").show();
                    } else {
                        var output = template_outputs[selectedTemplate].outputs[selectedSchema];
                        var fields = [];
                        for (var k = 0; k < output.fields.length; k++) {
                            fields.push({"name": output.fields[k]});
                        }
                    }

                    for (var i = 0; i < fields.length; i++) {
                        var field = fields[i];

                        if (xAxis == field.name) {
                            var x_option = "<option selected>" + field.name + "</option>";
                        } else {
                            var x_option = "<option>" + field.name + "</option>";
                        }

                        if (yAxis == field.name) {
                            var y_option = "<option selected>" + field.name + "</option>";
                        } else {
                            var y_option = "<option>" + field.name + "</option>";
                        }

                        if (series == field.name) {
                            var series_option = "<option selected>" + field.name + "</option>";
                        } else {
                            var series_option = "<option>" + field.name + "</option>";
                        }

                        x_axis_selector.append(x_option);
                        y_axis_selector.append(y_option);
                        plot_series.append(series_option);

                        x_axis_selector.selectpicker('refresh');
                        y_axis_selector.selectpicker('refresh');
                        plot_series.selectpicker('refresh');
                    }
                    $(".to_be_hidden").show();

                    if (selectedSchema < outputLength) {
                        //$("#plotSaveButton").hide();
                    }
                }


                function previewPlot() {
                    $("#plot_preview").html("<div class='inner_wait'><br/><br/><br/></div>");
                    var database = $("#selected_database_plot").val();
                    var selectedTemplate = $("#new_dashboard_template").val();

                    if (selectedTemplate && selectedTemplate != "-1") {
                        var outputLength = template_outputs[selectedTemplate].outputs.length;
                    } else {
                        var outputLength = 0;
                    }

                    var schema = existing_schemas[parseInt($("#selected_schema_plot").val()) - outputLength];

                    var title = $("#new_plot_title").val();
                    var subtitle = $("#new_plot_subtitle").val();
                    var xAxis = $("#x_axis_field").val().split("####")[0];
                    var yAxis = $("#y_axis_field").val().split("####")[0];
                    var plotSeries = $("#plot_series").val().split("####")[0];
                    var plotType = $("#new_plot_type").val();
                    var url = "/get_plot?schema=" + schema + "&title=" + title;
                    hideAlert("#alert_box_modal_plot");

                    if (!title.length) {
                        title = "Preview";
                    }

                    var plot_url = "/get_plot?schema=" + schema + "&title=" + title + "&database=" + database;

                    plot_url += "&xAxis=" + xAxis + "&yAxis=" + yAxis + "&type=" + plotType;
                    if (subtitle) {
                        plot_url += "&subtitle=" + subtitle;
                    }

                    if (plotSeries) {
                        plot_url += "&plotSeries=" + plotSeries;
                    }

                    $.ajax({
                        type: "GET",
                        url: plot_url,
                        success: function (response) {
                            $("#plot_preview").html(response.html);
                        },
                        error: function () {
                            hideWait();
                            $("#plot_preview").html("");
                            showAlert("Server Error", "Error trying to get the table schema", "#alert_box_modal_plot", "#alert_text_modal_plot");
                        }
                    });
                }

                function showPlottingModal(contentId, selectedDatabase, selectedSchemaArgument, title, xAxis, yAxis, plotType, series) {

                    $("#selected_database_plot").each(function () {
                        this.selectedIndex = 0
                    });
                    $("#selected_database_plot").selectpicker('refresh');

                    if (contentId == -1) {
                        $("#plotSaveButton").hide();
                    } else {
                        $("#plotSaveButton").show();
                    }

                    if (selectedDatabase) {
                        $("#selected_database_plot").val(selectedDatabase);
                        base_getSchemasFor('selected_database_plot', 'selected_schema_plot', null, function () {
                            doShowPlottingModal(contentId, selectedDatabase, selectedSchemaArgument, title, xAxis, yAxis, plotType, series);
                        });
                    } else {
                        doShowPlottingModal(contentId, selectedDatabase, selectedSchemaArgument, title, xAxis, yAxis, plotType, series);
                    }
                }

                function doShowPlottingModal(contentId, selectedDatabase, selectedSchemaArgument, title, xAxis, yAxis, plotType, series) {
                    var selectedTemplate = $("#new_dashboard_template").val();
                    var selectedSchema = $("#selected_schema_plot");

                    selectedSchema.empty();
                    selectedSchema.selectpicker('refresh');

                    if (selectedTemplate && selectedTemplate != "-1") {
                        var outputs = template_outputs[selectedTemplate].outputs;
                        selectedSchema.append("<option value='-1'>-- Template's outputs --</option>");

                        for (var i = 0; i < outputs.length; i++) {
                            var name = outputs[i].name;
                            selectedSchema.append("<option value='" + i + "'>" + name + "</option>");
                        }
                    } else {
                        var outputs = [];
                    }

                    base_getSchemasFor('selected_database_plot', 'selected_schema_plot', selectedSchemaArgument, function () {
                        //selectedSchema.append("<option value='-1'>-- Existing outputs --</option>");

                        for (var i = 0; i < existing_schemas.length; i++) {
                            var name = existing_schemas[i];
                            if (name == selectedSchemaArgument) {
                                selectedSchema.append("<option value='" + (i + outputs.length) + "' selected>" + name + "</option>");
                            } else {
                                selectedSchema.append("<option value='" + (i + outputs.length) + "'>" + name + "</option>");
                            }
                        }

                        $("#new_plot_content_id").val(contentId);

                        if (plotType) {
                            $("#new_plot_type").val(plotType);
                        }

                        if (title) {
                            $("#new_plot_title").val(title);
                        } else {
                            $("#new_plot_title").val("");
                        }

                        hideAlert("#alert_box_modal_plot");
                        $("#new_plot_modal").modal('show');
                        $("#plot_preview").html("");
                        base_loadSchema(xAxis, yAxis, series);
                    });

                }


                function savePlot() {

                    var title = $("#new_plot_title").val();
                    var subtitle = $("#new_plot_subtitle").val();
                    var xAxis = $("#x_axis_field").val().split("####")[0];
                    var yAxis = $("#y_axis_field").val().split("####")[0];
                    var plotSeries = $("#plot_series").val().split("####")[0];
                    var plotType = $("#new_plot_type").val();
                    var selectedSchema = $("#selected_schema_plot");
                    var selectedTemplate = $("#new_dashboard_template").val();
                    var database = $("#selected_database_plot").val();
                    var schema = parseInt(selectedSchema.val());

                    if (selectedTemplate && selectedTemplate != "-1") {
                        var outputLength = template_outputs[selectedTemplate].outputs.length;
                    } else {
                        var outputLength = 0;
                    }


                    if (schema >= outputLength) {
                        var output = existing_schemas[schema - outputLength];
                    } else {
                        var output = template_outputs[selectedTemplate].outputs[schema].name;
                    }

                    hideAlert("#alert_box_modal_plot");

                    if (!title.length) {
                        showAlert("", "Please, set the title of the plot", "#alert_box_modal_plot", "#alert_text_modal_plot");
                        return;
                    }

                    if (!output.length) {
                        showAlert("", "Please, choose the plot input", "#alert_box_modal_plot", "#alert_text_modal_plot");
                        return;
                    }

                    var imgSrc = "{{ STATIC_URL }}img/";

                    if (plotType == "Histogram") {
                        imgSrc += "bar.png";
                    } else if (plotType == "Pie" || plotType == "Semi-circle") {
                        imgSrc += "pie.png";
                    } else {
                        imgSrc += "line.png";
                    }
                    var plotInfo = "<table class='tablesorter'><thead><tr><th>Title</th><th>Input</th>"

                    if (subtitle) {
                        plotInfo += "<th>Subtitle</th>";
                    }

                    plotInfo += "<th>(x, y)</th></tr></thead><tr><td>" + title + "</td><td>" + output + "</td><td>";

                    if (subtitle) {
                        plotInfo += subtitle + "</td><td>";
                    }

                    if (plotSeries) {
                        plotInfo += "f(" + xAxis + "|" + plotSeries + ") = " + yAxis + "</td></tr></table>";
                    } else {
                        plotInfo += "f(" + xAxis + ") = " + yAxis + "</td></tr></table>";
                    }

                    var content = "<table><tr><td valign='top'><img src='" + imgSrc + "'/></td><td valign='top' style='padding-left:10px;'>" + plotInfo;
                    content += "</td></tr></table>";
                    var content = getBootstrapPanel("Plot", content);
                    var contentId = $("#new_plot_content_id").val();
                    $("#" + contentId).html(content);
                    var plotInformation = {
                        "plotType": plotType,
                        "title": title,
                        "subtitle": subtitle,
                        "xAxis": xAxis,
                        "yAxis": yAxis,
                        "schema": output,
                        "plotSeries": plotSeries,
                        "database": database
                    }

                    $("#new_plot_modal").modal('hide');
                    sectionsInformation[contentId] = {"data": plotInformation, "sectionType": "plot"};

                    if (plotSeries) {
                        sectionsInformation[contentId]["plotSeries"] = plotSeries;
                    }
                }


                $(document).ready(function () {
                    $(".to_be_hidden").hide();
                })
            </script>
        </div>
    </div>
</div>

<script>

    function showPreview(title, content) {
        $("#preview_modal_title").html(title);
        $("#preview_modal_content").html(content.replaceAll("__SQ__", "'"));
        $('#preview_modal').modal('show');
    }

    function showWait() {
        $("#wait").addClass("wait");
    }

    function hideWait() {
        $("#wait").removeClass("wait");
    }

    function hideAlert(alert_selector) {

        if (!alert_selector) {
            alert_selector = "#alert_box";
        }

        $(alert_selector).hide();
    }

    function hideSuccess() {
        $("#success_box").hide();
    }

    String.prototype.replaceAll = function (target, replacement) {
        return this.split(target).join(replacement);
    };

    $(document).ready(function () {
        hideAlert();
        hideSuccess();
    });

    function showAlert(title, content, boxId, textId) {
        hideSuccess();

        if (!boxId) {
            boxId = "#alert_box";
        }
        if (!textId) {
            textId = "#alert_box_text";
        }

        var alert_html = "<strong>" + title + "</strong>&nbsp;" + content;

        $(textId).html(alert_html);
        $(boxId).show();
    }


    function showSuccess(title, content) {
        hideAlert();
        var success_html = "<strong>" + title + "</strong>&nbsp;" + content;

        $("#success_box_text").html(success_html);
        $("#success_box").show();
    }


    function show_box(box_id) {
        $("#" + box_id).toggle();
    }

    function base_getSchemasFor(database, schema, table, callback) {
        var database = $("#" + database).val();

        base_updateSchemas(database, function (result) {
            var selected_schema_selector = $("#" + schema);
            selected_schema_selector.empty();

            $("#tablePreviewButton").hide();
            $("#plotPreviewButton").hide();
            $("#fields_results_table").empty();
            $("#fields_results_table").selectpicker('refresh');
            $("#x_axis_field").empty();
            $("#y_axis_field").empty();
            $("#plot_series").empty();
            $("#x_axis_field").selectpicker('refresh');
            $("#y_axis_field").selectpicker('refresh');
            $("#plot_series").selectpicker('refresh');

            existing_schemas = [];
            existing_schemas_content = [];

            var selectedTemplate = $("#new_dashboard_template").val();

            if (selectedTemplate && selectedTemplate != "-1") {

                var outputs = template_outputs[selectedTemplate].outputs;
                selected_schema_selector.append("<option value='-1'>-- Template's outputs --</option>");
                for (var i = 0; i < outputs.length; i++) {
                    var name = outputs[i].name;
                    selected_schema_selector.append("<option value='" + i + "'>" + name + "</option>");
                }
            }
            selected_schema_selector.append("<option>Select a table</option>");
            for (var i = 0; i < result.length; i++) {
                var name = result[i].name.toLowerCase();
                existing_schemas.push(name);
                if (table && name == table.toLowerCase()) {
                    selected_schema_selector.append("<option value='" + i + "' selected>" + name + "</option>");
                } else {
                    selected_schema_selector.append("<option value='" + i + "'>" + name + "</option>");
                }
                existing_schemas_content.push(result[i].schema);
            }

            selected_schema_selector.selectpicker('refresh');

            if (callback) {
                callback();
            }
        });
    }

    existing_schemas = [];
    existing_schemas_content = [];
    function base_updateSchemas(database, callback) {
        var url = "/detail_availability?database=" + database;

        $.ajax({
            type: "GET",
            url: url,
            success: callback,
            error: function () {
                showAlert("Server Error", "Error trying to get the database's schema");
            }
        });
    }

    $.fn.scrollTo = function (target, options, callback) {
        if (typeof options == 'function' && arguments.length == 2) {
            callback = options;
            options = target;
        }
        var settings = $.extend({
            scrollTarget: target,
            offsetTop: 50,
            duration: 500,
            easing: 'swing'
        }, options);
        return this.each(function () {
            var scrollPane = $(this);
            var scrollTarget = (typeof settings.scrollTarget == "number") ? settings.scrollTarget : $(settings.scrollTarget);
            var scrollY = (typeof scrollTarget == "number") ? scrollTarget : scrollTarget.offset().top + scrollPane.scrollTop() - parseInt(settings.offsetTop);
            scrollPane.animate({scrollTop: scrollY}, parseInt(settings.duration), settings.easing, function () {
                if (typeof callback == 'function') {
                    callback.call(this);
                }
            });
        });
    }

</script>
<script src="{{ STATIC_URL }}js/pages/base.js"></script>

</html>
