* {
    box-sizing: border-box;
    color: white;
}

body {
    background-color: #222;
}

#base-nav.navbar-fixed-top {
    background-color: #404040;
    border-color: #404040;
}

#navbar > ul > li > a,
#navbar > ul > li > span {
    color: #e7e7e7;
}

#navbar > ul > li.active > a {
    color: #404040;
}


.navbar-brand {
    padding: 0;
}

.navbar-brand > img {
    width: 49%;
}

.content-container {
    margin-top: 100px;
}



.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}


.myContainer{
    margin: 0px 25px 0px 25px;
}

.getReport {
    color: #FCB913;
    cursor: pointer;
    text-decoration: underline;
}

.getReport:hover {
    color: #616dff;
    cursor: pointer;
    text-decoration: underline;
}

.progD2 {
    float: left;
    margin: 0vw 5vw;
    height: 7vw;
    width: 7vw;
    text-align: center;
}

.cTitle{
    margin: 0px;
}



.cTitle {
    margin: 0px;
    margin-bottom: 5px;
    color: #FCB913;
    font-weight: bolder;
}

.liquidFillGaugeText {
    font-family: Helvetica;
    font-weight: bold;
}


#progContainer{
    text-align: center;
}